.card {
  border-radius: 20px;
  padding: 0 20px 0 0;
}

.cardBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 20px;
  z-index: -1;
}

.cardBody img {
  width: 20em;
  z-index: 1;
}

.cardBody div {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.cardBody div p {
  margin-left: 10px;
  color: black;
}

.cardFooter {
  position: relative;
  display: flex;
  bottom: 40px;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 20px;
  height: 100px;
  z-index: -1;
}

.cardFooter h2 {
  color: gold;
}

.cardFooter p {
  color: white;
}

.link {
  text-decoration: none;
}
