header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: url("/src/assets/img/bannerHeader.jpg"); */
  background-image: url("/src/assets/img/Pokedex-Header-Banner.jpg");
  background-size: cover;
  background-position: center;
  height: 220px;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: gold;
  font-weight: bold;
  font-size: 1.8rem;
}

nav a:hover {
  color: white;
}

.searchInput {
  background-color: #ffffff;
  padding: 0.2rem;
  margin-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 350px;
}

.searchInput:focus {
  border-color: gold;
  outline: none;
}
